<div class="container">
  <div class="row">
    <div class="col-6 my-4 d-flex align-items-center justify-content-center">
      <h1>
        <%= @admin.gym_name %></br>
        <%= @admin.email %></br>
      <%= link_to "店舗情報編集", edit_admin_path(@admin), class:"btn btn-success" %>
      </h1>
    </div>
    <div class="col-6 my-4 d-flex align-items-center justify-content-center">
      <%= image_tag @admin.get_gym_image(400,400) %>
    </div>
  </div>
</div>